@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
body {
	background-color: #003855;
	background-image: url("arches.png");
	font-family: Georgia, serif;
	font-size: 18px;
	color: #00476B;
}
main {
	max-width: 800px;
	margin: auto;
	line-height: 1.5;
	box-sizing: content-box;
	background-color: white;
	padding: 0 25px 0 25px;
	background-image: url("arches.png");
}
h1{
	margin: 0;
    font-size: 3em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: fadein 2s;
}
h2 {
	padding-top: 15px;  
	letter-spacing: 5px;
	font-weight: normal;
	color: white;
	background-color: #003f60;
	max-width: 671px;
    margin-left: -50px;
    padding-left: 50px;
    box-shadow: 3px 3px 0 3px #002e47; 
}
h3 {
	position: relative;
	letter-spacing: 1px;
	margin-bottom: 0em; 
}
h3 span {
	font-weight: normal;
	font-style: italic;
	position: absolute;
	right: 0px;
	letter-spacing: normal;
}
.contactinfo {
	margin: 0;
	animation: fadein 2s;	

}
ul li {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: -1em;
	padding-left: 1em;
	text-indent: -1em;
}
ul {
	margin-top: .5em;
	margin-left: 0;
	padding-left: 0;
}
p {
	margin-top: .3em;
}
a {
	color: #00476B;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.summary {
	animation: fadein 2s .5s backwards;
}
.info {
	animation: fadein 2s .5s backwards;
}
.job {
	animation: fadein 2s 1s backwards;
}
.education {
	animation: fadein 2s 1.5s backwards;
}
.volunteering {
	animation: fadein 2s 2s backwards;
}
.job2 {
	animation: fadein 2s 1s backwards;
}
@media (max-width: 700px) {
	h3 span {
		position: static;
	}
}